/* Background das telas */
.content-wrapper {
    background-color: rgba(60, 60, 60, 1) !important; /* Claro: #f4f6f9 */
    /*background-image: url(../../../img/fundo-login.jpg) !important;*/
    min-height: 100vh !important;
}
div.os-content {
    background: transparent !important;
}
div.card-body {
    background-color: rgba(245, 245, 245, 1) !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div.card {
    background-color: rgba(245, 245, 245, 1) !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

body.paginas-dashboard div.card-header{
    background-color: rgba(100, 100, 250, 1) !important;
    color: white !important;
}
    body.paginas-dashboard div.card-body {
        background-color: rgba(230, 230, 230, 1) !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(230, 230, 230, 0.2);
    }
        body.paginas-dashboard div.card{
            background-color: rgba(230, 230, 230, 1) !important;
        }
            body.paginas-dashboard button {
                color: white !important;
            }
                body.paginas-dashboard div.inner {
                    background-color: rgba(80, 80, 250, 1) !important;
                    color: rgb(240, 240, 240) !important;
                }
                    body.paginas-dashboard i[class*="fas fa-check-circle"], i[class*="fas fa-sign-in-alt"],
                    i.signout-exclusive,i[class*="fas fa-parking"] {
                        color: rgb(210, 210, 210) !important;
                    }
                        body.paginas-dashboard button.filtrar-empresa {
                            margin-top: -1.2rem !important;
                            margin-bottom: 1rem !important;
                        }

body.pagina-vagas div.card-header{
    background-color: rgba(100, 100, 250, 1) !important;
    color: white !important;
}
    body.pagina-vagas div.card-body {
        background-color: rgba(0, 0, 0, 1) !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        min-height: 77vh !important;
    }
        body.pagina-vagas div.card{
            background-color: rgba(0, 0, 0, 1) !important;
        }

body.pagina-usuarios div.card-header {
    background-color: rgba(100, 100, 250, 1) !important;
    color: white !important;
}
    body.pagina-usuarios div.card-body {
        background-color: rgba(230, 230, 230, 1) !important;
        color: black !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
        body.pagina-usuarios div.card{
            background-color: rgba(230, 230, 230, 1) !important;
        }
            body.pagina-usuarios select, input {
                background-color: rgba(230, 230, 230, 1) !important;
                color: black !important;
            }
                body.pagina-usuarios td {
                    border-color: rgba(15, 15, 15, 0.2);
                }

body.pagina-empresas div.card-header {
    background-color: rgba(100, 100, 250, 1) !important;
    color: white !important;
}
    body.pagina-empresas div.card-body {
        background-color: rgba(230, 230, 230, 1) !important;
        color: black !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
        body.pagina-empresas div.card{
            background-color: rgba(230, 230, 230, 1) !important;
        }
            body.pagina-empresas select, input {
                background-color: rgba(230, 230, 230, 1) !important;
                color: black !important;
            }
                body.pagina-empresas td {
                    border-color: rgba(15, 15, 15, 0.2);
                }

body.pagina-perfil div.card-header {
    background-color: rgba(100, 100, 250, 1) !important;
    color: white !important;
}
    body.pagina-perfil div.card-body1-perfil {
        background-color: rgba(230, 230, 230, 1) !important;
        color: black !important;
        border-color: rgb(120, 120, 120) !important;
        border-radius: 5px;
    }
    body.pagina-perfil div.card-body2-perfil {
        background-color: rgba(230, 230, 230, 1) !important;
        color: black !important;
        border-color: rgb(120, 120, 120) !important;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
        body.pagina-perfil div.card{
            background-color: rgba(230, 230, 230, 1) !important;
        }
            body.pagina-perfil input {
                background-color: rgba(230, 230, 230, 1) !important;
                color: black !important;
                border-color: rgb(120, 120, 120) !important;
            }
            body.pagina-perfil input.btn-success {
                background-color: #28A745 !important;
                color: white !important;
            }

/* Cards de informações diárias/totais nas telas de Dashboard */
.small-box > .inner {
    min-height: 8.3rem !important;
    max-height: 8.3rem !important;
}